In [ ]:
!pip install surprise

In [21]:
import pandas as pd 
import numpy as np

from sklearn.decomposition import NMF

from scipy import sparse

from surprise import NMF, evaluate, Reader, Dataset

import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
sns.set_style('whitegrid')
sns.set(font_scale=1.5)
%matplotlib inline

In [22]:
rating_df = pd.read_csv("ml-latest-small/ratings.csv", usecols=['userId', 'movieId', 'rating'])
rating_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [23]:
rating_df.shape

(100836, 3)

In [24]:
n_users = len(rating_df['userId'].unique())
n_items = len(rating_df['movieId'].unique())
R_shape = (n_users, n_items)
print(str(n_users) + ' users')
print(str(n_items) + ' items')

610 users
9724 items

In [25]:
rating_df['rating'].describe()

count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [26]:
reader = Reader(rating_scale=(0.5, 5.0))

In [27]:
data = Dataset.load_from_df(rating_df[['userId', 'movieId', 'rating']], reader)

In [28]:
# Split data into 5 folds
data.split(n_folds=5)

In [29]:

algo = NMF()
evaluate(algo, data, measures=['RMSE'])

Evaluating RMSE of algorithm NMF.

------------
Fold 1
RMSE: 0.9308
------------
Fold 2
RMSE: 0.9178
------------
Fold 3
RMSE: 0.9205
------------
Fold 4
RMSE: 0.9198
------------
Fold 5
RMSE: 0.9200
------------
------------
Mean RMSE: 0.9218
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.9307907459654964,
                             0.9177911384980415,
                             0.9204643180048555,
                             0.9198444641035118,
                             0.9200348917240208]})

In [30]:
trainset = data.build_full_trainset()
algo.train(trainset)

In [31]:
rating_df[rating_df['userId'] == 1].head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [32]:
esti = algo.predict(1, 3745, 1)
print(esti)

user: 1          item: 3745       r_ui = 1.00   est = 4.51   {'was_impossible': False}